
/*#ed5c27  #ecc874  #feb041*/
body {
    margin: 0;
    color: #343539;
    font-family: 'Ubuntu', 'S-Core_Dream' !important;
}

/* Ubuntu */
@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Light.ttf) format('ttf'),
        url(../font/Ubuntu/Ubuntu-Light.otf) format('otf'),
        url(../font/Ubuntu/Ubuntu-Light.woff) format('woff');
    font-weight: Light;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Regular.ttf) format('ttf'),
        url(../font/Ubuntu/Ubuntu-Regular.otf) format('otf'),
        url(../font/Ubuntu/Ubuntu-Regular.woff) format('woff');
    font-weight: Regular;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Medium.ttf) format('ttf'),
        url(../font/Ubuntu/Ubuntu-Medium.otf) format('otf'),
        url(../font/Ubuntu/Ubuntu-Medium.woff) format('woff');
    font-weight: Medium;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Bold.ttf) format('ttf'),
        url(../font/Ubuntu/Ubuntu-Bold.otf) format('otf'),
        url(../font/Ubuntu/Ubuntu-Bold.woff) format('woff');
    font-weight: Bold;
    font-style: normal;
}


/* S-Core_Dream */
@font-face {
    font-family: 'S-Core_Dream';
    src: url(../font/S-Core_Dream_OTF/SCDream1.ttf) format('ttf'),
        url(../font/S-Core_Dream_OTF/SCDream1.otf) format('otf'),
        url(../font/S-Core_Dream_OTF/SCDream1.woff) format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core_Dream';
    src: url(../font/S-Core_Dream_OTF/SCDream2.ttf) format('ttf'),
        url(../font/S-Core_Dream_OTF/SCDream2.otf) format('otf'),
        url(../font/S-Core_Dream_OTF/SCDream2.woff) format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core_Dream';
    src: url(../font/S-Core_Dream_OTF/SCDream3.ttf) format('ttf'),
        url(../font/S-Core_Dream_OTF/SCDream3.otf) format('otf'),
        url(../font/S-Core_Dream_OTF/SCDream3.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core_Dream';
    src: url(../font/S-Core_Dream_OTF/SCDream4.ttf) format('ttf'),
        url(../font/S-Core_Dream_OTF/SCDream4.otf) format('otf'),
        url(../font/S-Core_Dream_OTF/SCDream4.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core_Dream';
    src: url(../font/S-Core_Dream_OTF/SCDream5.ttf) format('ttf'),
        url(../font/S-Core_Dream_OTF/SCDream5.otf) format('otf'),
        url(../font/S-Core_Dream_OTF/SCDream5.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core_Dream';
    src: url(../font/S-Core_Dream_OTF/SCDream6.ttf) format('ttf'),
        url(../font/S-Core_Dream_OTF/SCDream6.otf) format('otf'),
        url(../font/S-Core_Dream_OTF/SCDream6.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core_Dream';
    src: url(../font/S-Core_Dream_OTF/SCDream7.ttf) format('ttf'),
        url(../font/S-Core_Dream_OTF/SCDream7.otf) format('otf'),
        url(../font/S-Core_Dream_OTF/SCDream7.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core_Dream';
    src: url(../font/S-Core_Dream_OTF/SCDream8.ttf) format('ttf'),
        url(../font/S-Core_Dream_OTF/SCDream8.otf) format('otf'),
        url(../font/S-Core_Dream_OTF/SCDream8.woff) format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core_Dream';
    src: url(../font/S-Core_Dream_OTF/SCDream9.ttf) format('ttf'),
        url(../font/S-Core_Dream_OTF/SCDream9.otf) format('otf'),
        url(../font/S-Core_Dream_OTF/SCDream9.woff) format('woff');
    font-weight: 900;
    font-style: normal;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
span {
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    outline: none;
}

.h_d {
    width: 100%;
    height: 60px;
}
.header {
    width: 100%;
    height: 60px;
    background-color: #feb041;
    box-shadow: 0px 1px 20px 0px #feb041;  /* #1f273a 에서 투명도 준게 #1f273a68 */
    color: #fff;
    text-align: center;

    position: fixed;
    top: 0;
    z-index: 999;
}
.logo {
    height: 100%;
    font-size: 30px;
    line-height: 60px;
    font-weight: 900;
}
.logo a {
    display: inline-block;
    padding: 0 20px;
}
.header_logo {
    width: 100%;
    max-width: 150px; /* 150px은 on + 버튼  /  200px은  */
    margin-top: 9px;  /*9 / 1  */
}

/* footer */
.footer {
    width: 100%;
    background-color: #2f2f2f;
    color: #fff;
    padding: 0 0 30px 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.a_tag {
    width: 100%;
    background-color: #191919;
    box-sizing: border-box;
}
.n_item {
    color: rgb(226, 226, 226);
    display: inline-block;
}
.n_item a {
    padding: 13px 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
}
.n_item a:hover {
    color: #fff;
    font-weight: 800;
}
.main {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.height {
    padding: 10px 0;
    box-sizing: border-box;}
.f_text {
    font-size: 17px;
    font-weight: 800;
}

.t_title {font-weight: 800; color: #cacaca;}
.tel,
.addr {
    font-size: 14px;
    font-weight: 500;
}
.block {
    display: block;
    padding: 5px 0;
    box-sizing: border-box;
}
.slash {
    display: inline-block;
}
.n_item a:nth-of-type(1) {padding: 13px 10px 13px 0;}

@media (max-width: 1200px) {
    .main {max-width: 100%; padding: 0 15px; box-sizing: border-box;}
}
@media (max-width: 456px) {
    .n_item a {padding: 10px 5px; font-size: 14px;}
    .f_text {font-size: 20px;}
    .block {font-size: 14px;}
    .main {width: 80%;}
    .m_flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addr_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slash {display: none;}
    .main {max-width: 100%; padding: 0 5px; box-sizing: border-box;}
}